.card{
    width: 1000px;
    height: 600px;
    margin: auto;
    background-color:rgb(207, 218, 223);
    border: 1px solid rgb(207, 218, 223);
    box-sizing: border-box;
    
}
.imge{
    display: inline-block;
    text-align: right;
}
.imge img{
    position: absolute;
    top: 8px;
    left: 783px;
    height: 600px;
}
.text{
   width: 600px; 
   margin-left: 10px;
}
.text h1{
    margin: 0;
    padding: 0;
}
.text h2{
    margin-top: 65px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.text p{
    font-weight: 500;
    margin-top: -3px;
}
button{
    border-radius: 50px;
    margin-top: -5px;
    background-color: rgb(207, 218, 223);    
}
button:hover{
    background-color: rgb(69, 151, 189);
    cursor: pointer;
    border: none;
}
button a{
    text-decoration: none;
    color: #000;
}
