.head1{
    background-color: antiquewhite;
    color: brown;
  
}    

.head2{
    background-color:yellow ;
    color:whitesmoke ;
}    

.head3{
    background-color:orange ;
    color:orchid ;
}    

.head4{
    background-color:red ;
    color: rebeccapurple;
}    

.head5{
    background-color: green;
    color: goldenrod;
}    

.head6{
    background-color:grey ;
    color:black ;
} 
a{
    
    color: black;
    font-weight: bolder;
    
    
}   
